extends ../shared/template

block header
  h1= album.name

block content

    table
        thead
            th Song Names
            th Play
        tbody
            each song in songs
                tr
                    td= song.name
                    td: audio(src="/audios/songs/#{song._id}/#{song.file}", type="audio/mp3", controls=true)
